:root {
  --background: linear-gradient(135deg , rgba(55, 146, 173, 1) 0%, rgba(7, 72, 82, 1) 30%, rgba(0, 18, 36, 1) 75%);       /* light sky blue */
  --card: transparent;       /* baby pink */
  --accent:#032f44;     /* bright sky blue */
  --text-dark:  #d1e7f3 ;
  --text-muted:  #032138;
  --radius: 12px;
  
}

* { 
    box-sizing: border-box; margin: 0; padding: 0;
 }

body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: #000000;;
  color: var(--text-dark);
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg ,rgba(0, 18, 36, 1)  20%, rgba(7, 72, 82, 1) 60%, rgba(55, 146, 173, 1) 100%);
  border-radius: var(--radius);
  margin-bottom: 20px;
}

.subtitle {
  color: var(--text-dark);
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: var(--background);
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 10px;
  color: var(--accent);
}

h3 {
  margin-bottom: 8px;
  color: #7ca9c4;
}

ul, ol {
  margin-left: 20px;
  margin-top: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: var(--text-muted);
  font-size: 14px;
  padding: 10px;
}
